{% include 'header.html' %}
{% set curr_module = module %}
{% set curr_class = c %}

    <div id="{{c.name}}" class="class">
        <h2>
            class {{c.name}}
            {% if c.bases %}
                    ({% for base in c.bases %}
                        {{base.id}}
                        {% if not loop.last %}
                        , 
                        {% endif %}
                    {% endfor %})
            {% endif %}
        </h2>

        <p>
            {{c.docstring}}
        </p>

        {% for variable in c.class_variables %}
            {{variable.name}}
            : {{variable.type}}
        {% endfor %}
        
        {% for function in c.methods %}
            {% include 'function.html' %}
        {% endfor %}
    </div>

{% include 'footer.html' %}