* {
    box-sizing: border-box;
}

.nav {
    width: 30%;
    float: left;
}

.nav ul li a {
    color:black;
}

main {
    width: 50%;
    float:left;
}

.container {
    margin-bottom: 50px;
    display: block;
    overflow: auto;
}

.class {
    border-left: 4px solid grey;
    padding-left: 10px;
}

.function-name {
    font-family: 'Courier New', Courier, monospace
}